noderedExampleFlow.json
[
    {
        "id": "48016159c51a9860",
        "type": "tab",
        "label": "ExampleFlowOne",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0d079f5d6f9b0aef",
        "type": "http in",
        "z": "48016159c51a9860",
        "name": "",
        "url": "/example",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "2bd571f60e346c37"
            ]
        ]
    },
    {
        "id": "2bd571f60e346c37",
        "type": "function",
        "z": "48016159c51a9860",
        "name": "functionOne",
        "func": "msg.payload = {\n    \"message\": \"test\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 120,
        "wires": [
            [
                "13535dea5f9c6139"
            ]
        ]
    },
    {
        "id": "13535dea5f9c6139",
        "type": "http response",
        "z": "48016159c51a9860",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 120,
        "wires": []
    }
]